<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.pp.video.mapper.VideoDomainMapper">
  <resultMap id="BaseResultMap" type="com.pp.video.domain.VideoDomain">
    <id column="video_id" jdbcType="VARCHAR" property="videoId" />
    <result column="type" jdbcType="VARCHAR" property="type" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="isdel" jdbcType="BIT" property="isdel" />
    <result column="order_by" jdbcType="INTEGER" property="orderBy" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
    <result column="video_name" jdbcType="VARCHAR" property="videoName" />
    <result column="video_path" jdbcType="VARCHAR" property="videoPath" />
    <result column="video_url" jdbcType="VARCHAR" property="videoUrl" />
    <result column="file_size" jdbcType="VARCHAR" property="fileSize" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    video_id, type, create_time, isdel, order_by, update_time, video_name, video_path, 
    video_url, file_size
  </sql>
  <select id="selectByExample" parameterType="com.pp.video.domain.VideoDomainExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    'false' as QUERYID,
    <include refid="Base_Column_List" />
    from t_pp_video
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from t_pp_video
    where video_id = #{videoId,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from t_pp_video
    where video_id = #{videoId,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.pp.video.domain.VideoDomain">
    insert into t_pp_video (video_id, type, create_time, 
      isdel, order_by, update_time, 
      video_name, video_path, video_url, 
      file_size)
    values (#{videoId,jdbcType=VARCHAR}, #{type,jdbcType=VARCHAR}, #{createTime,jdbcType=TIMESTAMP}, 
      #{isdel,jdbcType=BIT}, #{orderBy,jdbcType=INTEGER}, #{updateTime,jdbcType=TIMESTAMP}, 
      #{videoName,jdbcType=VARCHAR}, #{videoPath,jdbcType=VARCHAR}, #{videoUrl,jdbcType=VARCHAR}, 
      #{fileSize,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.pp.video.domain.VideoDomain">
    insert into t_pp_video
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="videoId != null">
        video_id,
      </if>
      <if test="type != null">
        type,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="isdel != null">
        isdel,
      </if>
      <if test="orderBy != null">
        order_by,
      </if>
      <if test="updateTime != null">
        update_time,
      </if>
      <if test="videoName != null">
        video_name,
      </if>
      <if test="videoPath != null">
        video_path,
      </if>
      <if test="videoUrl != null">
        video_url,
      </if>
      <if test="fileSize != null">
        file_size,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="videoId != null">
        #{videoId,jdbcType=VARCHAR},
      </if>
      <if test="type != null">
        #{type,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="isdel != null">
        #{isdel,jdbcType=BIT},
      </if>
      <if test="orderBy != null">
        #{orderBy,jdbcType=INTEGER},
      </if>
      <if test="updateTime != null">
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="videoName != null">
        #{videoName,jdbcType=VARCHAR},
      </if>
      <if test="videoPath != null">
        #{videoPath,jdbcType=VARCHAR},
      </if>
      <if test="videoUrl != null">
        #{videoUrl,jdbcType=VARCHAR},
      </if>
      <if test="fileSize != null">
        #{fileSize,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.pp.video.domain.VideoDomainExample" resultType="java.lang.Long">
    select count(*) from t_pp_video
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByPrimaryKeySelective" parameterType="com.pp.video.domain.VideoDomain">
    update t_pp_video
    <set>
      <if test="type != null">
        type = #{type,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="isdel != null">
        isdel = #{isdel,jdbcType=BIT},
      </if>
      <if test="orderBy != null">
        order_by = #{orderBy,jdbcType=INTEGER},
      </if>
      <if test="updateTime != null">
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="videoName != null">
        video_name = #{videoName,jdbcType=VARCHAR},
      </if>
      <if test="videoPath != null">
        video_path = #{videoPath,jdbcType=VARCHAR},
      </if>
      <if test="videoUrl != null">
        video_url = #{videoUrl,jdbcType=VARCHAR},
      </if>
      <if test="fileSize != null">
        file_size = #{fileSize,jdbcType=VARCHAR},
      </if>
    </set>
    where video_id = #{videoId,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.pp.video.domain.VideoDomain">
    update t_pp_video
    set type = #{type,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      isdel = #{isdel,jdbcType=BIT},
      order_by = #{orderBy,jdbcType=INTEGER},
      update_time = #{updateTime,jdbcType=TIMESTAMP},
      video_name = #{videoName,jdbcType=VARCHAR},
      video_path = #{videoPath,jdbcType=VARCHAR},
      video_url = #{videoUrl,jdbcType=VARCHAR},
      file_size = #{fileSize,jdbcType=VARCHAR}
    where video_id = #{videoId,jdbcType=VARCHAR}
  </update>
</mapper>