<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>关于我们</title>
    <link rel="stylesheet" th:href="@{/css/reset.css}"/>
    <link rel="stylesheet" th:href="@{/css/header/header.css}"/>
    <link rel="stylesheet" th:href="@{/css/aboutUs/aboutUs.css}"/>
    <link rel="stylesheet" th:href="@{/css/quill/quill.bubble.css}"/>
    <link rel="stylesheet" th:href="@{/css/quill/quill.core.css}"/>
    <link rel="stylesheet" th:href="@{/css/quill/quill.snow.css}"/>
    <script th:src="@{/js/jquery-1.8.3.js}"></script>
</head>
<body>
<header>
    <div class="inner1 clearfix">
        <div class="logo">
            <a href="/index">
				<img src="../../img/logo.png" alt="">
			</a>
        </div>
        <div class="nav">
            <ul class="clearfix">
                <li>
                    <a th:href="@{/}">首页</a>
                </li>
                <li>
                    <a href="https://puritan.tmall.hk/p/rd663629.htm?ali_trackid=42_7b0e34ba50a8e2fbc3d5a69695f31c69">在线商城</a>
                </li>
                <li>
                    <a th:href="@{/article/healthy}">健康顾问</a>
                </li>
                <li>
                    <a th:href="@{/article/about_us}" class="activeNav">关于我们</a>
                </li>
                <li>
                    <a class="mini_code" >防伪查询</a>
                </li>
            </ul>
        </div>
        <div class="loginInfo">
            <!--<ul class="clearfix">-->
                <!--<th:block th:if="${null != PPM}">-->
                    <!--<li style="width: auto;">-->
                        <!--<a th:href="@{/member/center}" th:text="${#strings.substring(PPMM,0,3) + '***' + #strings.substring(PPMM,6,11)}">Admin</a>&lt;!&ndash; #strings.substring(PPMM,0,3) + '******' + #strings.substring(PPMM,6,11)} &ndash;&gt;-->
                    <!--</li>-->
                    <!--<li>-->
                        <!--<a th:href="@{/login/logout}">退出</a>-->
                    <!--</li>-->
                <!--</th:block>-->
                <!--<th:block th:unless="${null != PPM}">-->
                    <!--<li>-->
                        <!--<a class="login" th:href="@{/login}">登陆</a>-->
                    <!--</li>-->
                    <!--<li>-->
                        <!--<a th:href="@{/register}">注册</a>-->
                    <!--</li>-->
                <!--</th:block>-->
            <!--</ul>-->
        </div>
    </div>
</header>
<main>
    <div class="pic">
        <img src="../../img/slide_7.jpg" alt="加载失败">
    </div>
    <div class="content inner">
        <div class="main-page">
            <div class="left">
                <div class="nav-back"></div>
                <div class="nav" >
                    <div th:each="menu, menuStat: ${menuList}" th:class="${menuStat.index==index}? 'on' : ''" th:text="${menu.name}"  th:data-index="${menuStat.index}" th:data-menuid="${menu.id}" th:data-menuname="${menu.name}">公司简介</div>
                </div>
            </div>

            <div class="right">
                <div class="content">
                    <div th:each="menu, menuStat: ${menuList}" class="con-ggh" >
                        <th:block th:if="${menu.name == '新闻动态'}">
                            <ul>
                                <li th:each="ht :${menu.conList}" style="display: inline-block;width: 100%;">
                                    <a th:href="@{ '/article/New_type?menuId=' + ${menu.id} + '&contentId=' +${ht.id} } "  th:utext="${ht.name}">为什么？</a>
                                </li>
                            </ul>
                        </th:block>
                        <th:block th:unless="${menu.name =='新闻动态'}">
                            <div class="ql-editor" th:utext="${menu.defaultContent}">公司简介</div>
                        </th:block>
                    </div>
                </div>
            </div>
            <div class="clear"></div>
        </div>
    </div>
</main>

<div class="mask">
    <div class="mask_content">
        <div class="cancel_mask">x</div>
        <div class="mask_title">
            扫码进入
        </div>
        <div class="mask_code">
            <img src="/img/wx_mini_code.png" alt="">
        </div>
    </div>
</div>


<script type="text/javascript">

   
$(".mini_code").click(function(){
            $(".mask").show()
        })

    $(".cancel_mask").click(function(){
        $(".mask").hide()
    })

    $(".main-page .nav div").mouseenter(function () {
        var $this = $(this);
        var index = $this.index();
    }).mouseleave(function () {
        var $this = $(this);
        var index = $this.index();
    }).click(function () {
        var $this = $(this);
        var index = $this.index();
        var l = -(index * 800);
        $(".main-page .nav div").removeClass("on");
        $(".main-page .nav div").eq(index).addClass("on");
        $(".main-page .content .con-ggh:eq(0)").stop().animate({"margin-top": l}, 300);

        setPageMenu();
    });

    function setContentShow(){
        // 设置content active
        $(".nav .on").click();
        $(".nav .on").show();
    }setContentShow();

    function setPageMenu(){
        var menuId = $(".nav .on").data('menuid'), menuName = $(".nav .on").data('menuname');
        var conName = $(".con-menu-" + menuId).data('conname');
        $("#pageMenu").html("");
        $("#pageMenu").append("<span>关于我们/</span><span>"+menuName+"/</span>");
        if(conName && "" != conName){
            $("#pageMenu").append("<span>"+conName+"</span>");
        }

    }setPageMenu();
</script>
</body>
</html>
