body {
    background: #F6F6F6;
}

.HolyGrail {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    min-width: 1300px;
}

/*header,*/
footer {
    flex: 1;
}

.HolyGrail-body {
    display: flex;
    flex: 1;
}

.HolyGrail-content {
    flex: 1;
}

.HolyGrail-nav, .HolyGrail-ads {
    /* 两个边栏的宽度设为12em */
    flex: 0 0 12em;
}

.HolyGrail-nav {
    /* 导航放到最左边 */
    order: -1;
}

@media (max-width: 768px) {
    .HolyGrail-body {
        flex-direction: column;
        flex: 1;
    }

    .HolyGrail-nav,
    .HolyGrail-ads,
    .HolyGrail-content {
        flex: auto;
    }
}
/*
slideshow
*/
.slider {
    position: relative;
    height: 400px;
    min-width: 1004px;
    width: 100%;
    overflow: hidden;
}

.slider .slider-pointer {
    position: absolute;
    bottom: 20px;
    color: #fff;
    list-style: none;
    padding: 0;
    z-index: 999;
}

.slider .slider-pointer li {
    display: inline-block;
    margin: 0 15px;
    width: 15px;
    height: 15px;
    border-radius: 15px;
    background-color: #ffffff;
    opacity: 0.85;
    box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.5);
    transition: all 320ms ease;
}

.slider .slider-pointer li:hover {
    background-color: #e30006;
}

.slider .slider-pointer li.active {
    background-color: #b00005;
}

.slider .slider-inner {
    width: 100%;
    height: 100%;
    position: relative;
}

.slider .slider-inner .item {
    width: 100%;
    height: 100%;
    float: left;
}

.slider .slider-inner .img {
    background-position: center top !important;
    width: 100%;
    height: 100%;
    border:none;
}

.slider .slider-control {
    position: absolute;
    width: 30px;
    height: 30px;
    z-index: 999;
    border-radius: 30px;
    text-align: center;
    font-weight: 900;
    font-size: 20px;
    line-height: 30px;
    background-color: #ffffff;
    opacity: 0.5;
    cursor: pointer;
    top: 40%;
    box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.5);
    transition: all 320ms ease;
}

.slider .slider-control:hover {
    opacity: 0.65;
    background-color: #b00005;
}

.slider .slider-control:active {
    opacity: 0.85;
}

.slider .slider-control.prev {
    display: none;
    left: 20px;
}

.slider .slider-control.next {
    display: none;
    right: 20px;
}

/* .slider:hover .slider-control.prev {
    display: block;
    left: 20px;
}

.slider:hover .slider-control.next {
  display: block;
    right: 20px;
} */

/*
main
*/
main .content {
    margin-top: 50px;
}

main .content ul li {
    float: left;
    overflow: hidden;
    padding: 0 0 17px 15px;
}

main .content ul li:nth-child(1) {
    padding-left: 0;
}

main .content ul li:nth-child(3) {
    padding-left: 0;
}

main .content ul li a {
    display: inline-block;
    width: 590px;
    height: 290px;
    position: relative;
}

main .content ul li img {
    width: 100%;
    height: 100%;
}

main .content ul li a .sign1 {
    width: 0;
    height: 0;
    border-top: 50px solid #EE5959;
    border-right: 50px solid transparent;
    position: absolute;
    top: 0;
    left: 0;
    vertical-align: text-top;
}

main .content ul li a .sign1 span {
    position: absolute;
    top: -40px;
    left: 8px;
    color: #ffffff;
}

main .content ul li a .sign2 {
    width: 0;
    height: 0;
    border-top: 50px solid #EEA859;
    border-right: 50px solid transparent;
    position: absolute;
    top: 0;
    left: 0;
    vertical-align: text-top;
}

main .content ul li a .sign2 span {
    position: absolute;
    top: -40px;
    left: 8px;
    color: #ffffff;
}

main .content ul li a .sign3 {
    width: 0;
    height: 0;
    border-top: 50px solid #73D470;
    border-right: 50px solid transparent;
    position: absolute;
    top: 0;
    left: 0;
    vertical-align: text-top;
}

main .content ul li a .sign3 span {
    position: absolute;
    top: -40px;
    left: 8px;
    color: #ffffff;
}

/*
footer
*/
.footer {
    margin-top: 54px;
    background: #F6F6F6;
}

.footer .left {
    float: left;
}

.footer .left .antiFake {
    padding-top: 20px;
}

.footer .left .antiFake label {
    font-size: 16px;
    color: #A9A9A9;
}

.footer .left .antiFake input {
    width: 200px;
    background: #ffffff;
    height: 32px;
    border: 1px solid #A9A9A9;
    padding-left: 5px;
    color: #A9A9A9;
}

.footer .left .antiFake a {
    display: inline-block;
    width: 50px;
    text-align: center;
    color: #ffffff;
    line-height: 32px;
    background: #4A4A4A;
    height: 32px;
}

.footer .left .tips {
    padding-top: 10px;
}

.footer .left .tips p {
    font-size: 14px;
    color: #A9A9A9;
    padding-bottom: 10px;
}

.footer .left .tips p span {
    font-size: 14px;
    color: #484848;
}

.footer .left .tips p:last-child {
    padding-bottom: 60px;
}

.footer .right {
    float: left;
    padding-left: 86px;
}

.footer .right .interlinkage {
    width: 100%;
    padding-top: 25px;
    padding-bottom: 20px;
}

.footer .right .interlinkage p {
    color: #A9A9A9;
    font-size: 14px;
}

.footer .right .interlinkage p a {
    color: #5F5D5D;
}

.footer .right .relevance .pic {
    float: left;
}

.footer .right .relevance .pic img {
    width: 60px;
    height: 60px;
}

.footer .right .relevanceNav {
    float: right;
    padding-left: 119px;
}

.footer .right .relevanceNav ul li {
    float: left;
    border-right: 1px solid #A9A9A9;
    padding: 0 5px;
}

.footer .right .relevanceNav ul li:first-child {
    padding-left: 0;
}

.footer .right .relevanceNav ul li:last-child {
    border-right: none;
}

.footer .right .putRecords {
    text-align: right;
    padding-top: 10px;
}

/*
模态框
*/
.operation {
    position: fixed;
    top: 50%;
    right: 20px;
}

.operation ul {
    width: 60px;
    border: 1px solid #A9A9A9;
}

.operation ul li {
    width: 100%;
    height: 40px;
    line-height: 40px;
    text-align: center;
    color: #A9A9A9;
    cursor: pointer;
    position: relative;
}
.operation ul li.service:hover .more-info{
    width: 220px;
    left: -215px;
    padding: 5px;
}
.operation .more-info{
    transition: .2s;
    width:0;
    position: absolute;
    left:0;
    top: 0;
    overflow: hidden;
}
.operation .more-info div{
    border-radius: 4px;
    width:200px;
    border: 1px solid #F0F0F0;
    background-color: #fff;
    position: relative;
    box-shadow: 2px 2px 2px 2px rgba(0,0,0,0.1);
}
.operation .more-info div:before{
    content: '';
    display: block;
    width:0;
    border: 6px solid;
    border-color: transparent transparent transparent #fff;
    position: absolute;
    right: -12px;
    top: 13px;
    z-index: 9;

}
.operation .more-info div:after{
    z-index: 1;
    content: '';
    display: block;
    width:0;
    border: 8px solid;
    border-color: transparent transparent transparent #f0f0f0;
    position: absolute;
    right: -16px;
    top: 12px;

}
.operation .more-info p{
    margin: 0;
    height: 27px;
    line-height: 28px;
}

.modal-dialog {
    height: auto !important;
}

.modal-body .theme {
    background: #EEEEEE;
    color: #999999;
    height: 92px;
    line-height: 92px;
}

.modal-body .theme label {
    padding-left: 20px;
    font-weight: normal;
    font-size: 20px;
}

.modal-body .theme input {
    background: #EEEEEE;
    height: 92px;
    width: 70%;
    font-size: 20px;
    font-weight: normal;
}

.modal-body .proposal textarea {
    margin-top: 33px;
    width: 100%;
    background: #EEEEEE;
    color: #999999;
    height: 200px;
}

.modal-body .btn {
    margin-top: 68px;
    width: 100%;
}

.modal-body .btn a {
    display: inline-block;
    width: 340px;
    height: 72px;
    line-height: 72px;
    background: #22436E;
    color: #ffffff;
    border-radius: 10px;
    font-size: 24px;
    text-decoration: none;
}




.mask{
    position: fixed;
    width: 100%;
    background: rgba(0,0,0,0.4);
    top:0;
    left:0;
    bottom:0;
    display: none;
	z-index:1000;
}

.mask_content{
    padding: 20px;
    position: absolute;
    background: white;
    width: 285px;
    left:50%;
    top:50%;
    transform: translate(-50%,-50%);
    border-radius: 4px;
    text-align: center;
}


.cancel_mask{
    position: absolute;
    height: 20px;
    width: 20px;
    text-align: center;
    line-height: 20px;
    right: 10px;
    top: 10px;
    font-size: 20px;
	cursor:pointer;
}
.mask_title{
    font-size: 18px;
    margin-bottom: 15px;
}
.mask_code img{
    width: 200px;
    height: 200px;
	margin-bottom: 25px;
}
