<!DOCTYPE html>
<html lang="en" style="overflow:hidden">
<head>
    <meta charset="UTF-8">
    <title>关于我们</title>
    <link rel="stylesheet" href="../../css/reset.css"/>
    <link rel="stylesheet" href="../../css/header/header.css"/>
    <link rel="stylesheet" href="../../css/aboutUs/aboutUs.css"/>
    <script src="../../js/jquery-1.8.3.js"></script>
</head>
<body>
<header>
    <div class="inner1 clearfix">
        <div class="logo">
			<a href="/index">
				<img src="../../img/logo.png" alt="">
			</a>
            
        </div>
        <div class="nav">
            <ul class="clearfix">
                <li>
                    <a th:href="@{/}">首页</a>
                </li>
                <li>
                    <a href="https://puritan.tmall.hk/p/rd663629.htm?ali_trackid=42_7b0e34ba50a8e2fbc3d5a69695f31c69" >在线商城</a>
                </li>
                <li>
                    <a th:href="@{/article/healthy}">健康顾问</a>
                </li>
                <li>
                    <a href="./article/about_us" >关于我们</a>
                </li>
                <li>
                    <a class="mini_code" >防伪查询</a>
                </li>
            </ul>
        </div>
        <div class="loginInfo">
            <ul class="clearfix">
                <li>
                    <a class="login" href="javascript:void(0)" style="display: none">登陆</a>
                    <a href="../personalCenter/personalCenter.html">Admin</a>
                </li>
                <li>
                    <a href="../login/register.html">注册</a>
                </li>
            </ul>
        </div>
    </div>
</header>
<main>
    <div class="pic">
        <img src="../../img/slide_2.jpg" alt="加载失败">
    </div>
    <div class="content inner">
        <div class="main-page">
            <div class="left">
                <div class="nav-back"></div>
                <div class="nav">
                    <div class="on">公司简介</div>
                    <div>品牌活动</div>
                    <div>人才招聘</div>
                    <div>企业文化</div>
                    <div>广告欣赏</div>
                    <div>联系我们</div>
                </div>
            </div>
            <div class="right">
                <div class="content">
                    <div class="con-ggh">
                        公司简介
                    </div>
                    <div class="con-ggh">
                        品牌活动
                    </div>
                    <div class="con-ggh">
                        人才招聘
                    </div>
                    <div class="con-ggh">
                        企业文化
                    </div>
                    <div class="con-ggh">
                        广告欣赏
                    </div>
                    <div class="con-ggh">
                        联系我们
                    </div>
                </div>
            </div>
            <div class="clear"></div>
        </div>
    </div>
</main>

<div class="mask">
    <div class="mask_content">
        <div class="cancel_mask">x</div>
        <div class="mask_title">
            扫码进入
        </div>
        <div class="mask_code">
            <img src="/img/wx_mini_code.png" alt="">
        </div>
    </div>
</div>

<script type="text/javascript">

	$(".mini_code").click(function(){
            $(".mask").show()
        })

	$(".cancel_mask").click(function(){
		$(".mask").hide()
	})

		

    $(".main-page .nav div").mouseenter(function () {
        var $this = $(this);
        var index = $this.index();
    }).mouseleave(function () {
        var $this = $(this);
        var index = $this.index();
    }).click(function () {
        var $this = $(this);
        var index = $this.index();
        var l = -(index * 800);
        $(".main-page .nav div").removeClass("on");
        $(".main-page .nav div").eq(index).addClass("on");
        $(".main-page .content .con-ggh:eq(0)").stop().animate({"margin-top": l}, 500);
    });
</script>
</body>
</html>