body{
    background: #F6F6F6;
}
.resetPasswords{
    margin-top: 63px;
    width: 100%;
    text-align: center;
}
.resetPasswords h2{
    background: #22436E;
    font-size: 20px;
    height: 60px;
    line-height: 60px;
    color: #ffffff;
}
.resetPasswords form{
    padding-top: 80px;
}
.resetPasswords form .phoneNumber, .verificationCode{
    height: 50px;
    line-height: 50px;
}
.resetPasswords form  .identical label{
    width: 180px;
    text-align: right;
    display: inline-block;
}
.resetPasswords form  .identical label{
    color: #717171;
    font-size: 16px;
    padding-right: 20px;
}
.resetPasswords form  .identical label span{
    width: 12px;
    height: 12px;
    color: red;
    display: inline-block;
    padding-right: 10px;
}
.resetPasswords form  .identical input{
    border: 1px solid #AAAAAA;
    width: 442px;
    height: 50px;
    line-height: 50px;
    border-radius:4px;
}
.resetPasswords form .phoneNumber{
    margin-bottom: 20px;
}
.resetPasswords form .verificationCode{
    padding-bottom: 103px;
}
.resetPasswords form .nextBtn a{
    width: 208px;
    height: 50px;
    line-height: 50px;
    background: #22436E;
    color: #ffffff;
    border-radius:10px;
    display: inline-block;
    margin-bottom: 210px;
}