body {
    background: #F7F7F7;
}

.HolyGrail {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

.HolyGrail-body {
    display: flex;
    flex: 1;
    margin-top: 52px;
    background: #FFFFFF;
}

.HolyGrail-content {
    flex: 1;
}

.HolyGrail-nav {
    /* 两个边栏的宽度设为12em */
    flex: 0 0 18em;
    border-right: 1px solid #EEEEEE;
}

.HolyGrail-nav {
    /* 导航放到最左边 */
    order: -1;
}

.HolyGrail-nav ul .headPortrait img {
    width: 128px;
    height: 128px;
    overflow: hidden;
    margin: 30px 0 6px 50px;
}

.HolyGrail-nav ul .userName p {
    color: #4E4E4E;
    font-size: 16px;
    padding-left: 85px;
    padding-bottom: 40px;
}

.HolyGrail-nav ul .address a {
    display: block;
    width: 218px;
    height: 48px;
    line-height: 48px;
    text-align: center;
    color: #FFFFFF;
    background: #22436E;
    border-radius: 10px;
    margin-left: 20px;
}

.HolyGrail-content table {
    margin-left: 55px;
    margin-top: 60px;
}

.HolyGrail-content table thead tr th {
    width: 160px;
    text-align: center;
    color: #999999;
    font-size: 14px;
}

.HolyGrail-content table tbody tr {
    border-bottom: 1px solid #EEEEEE;
}

.HolyGrail-content table tbody tr td {
    width: 160px;
    text-align: center;
    color: #999999;
    font-size: 14px;
    height: 40px;
}

.awaitStatus {
    color: #73D470 !important;
}

.awaitStatus span {
    display: inline-block;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background: #73D470;
}

.alreadyStatus {
    color: #EEA859 !important;
}

.alreadyStatus span {
    display: inline-block;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background: #EEA859;
}

/*
弹框
*/
/* input */
.ipt {
    border: solid 1px #d2d2d2;
    border-left-color: #ccc;
    border-top-color: #ccc;
    border-radius: 2px;
    box-shadow: inset 0 1px 0 #f8f8f8;
    background-color: #fff;
    padding: 4px 6px;
    height: 21px;
    line-height: 21px;
    color: #555;
    width: 180px;
    vertical-align: baseline;
}

.ipt-mini {
    width: 140px;
    padding: 1px 3px;
}

.ipt:focus {
    border-color: #95C8F1;
    box-shadow: 0 0 4px #95C8F1;
}

/* btn */
.btn {
    position: relative;
    cursor: pointer;
    display: inline-block;
    vertical-align: middle;
    font-size: 12px;
    font-weight: bold;
    height: 27px;
    line-height: 27px;
    min-width: 52px;
    padding: 0 12px;
    text-align: center;
    text-decoration: none;
    border-radius: 2px;
    border: 1px solid #ddd;
    color: #666;
    background-color: #f5f5f5;
    background: -webkit-linear-gradient(top, #F5F5F5, #F1F1F1);
    background: -moz-linear-gradient(top, #F5F5F5, #F1F1F1);
    background: linear-gradient(top, #F5F5F5, #F1F1F1);
}

input.btn {
    height: 29px;
}

.btn:hover {
    border-color: #c6c6c6;
    color: #333;
    background-color: #f8f8f8;
    background: -webkit-linear-gradient(top, #f8f8f8, #f1f1f1);
    background: -moz-linear-gradient(top, #f8f8f8, #f1f1f1);
    background: linear-gradient(top, #f8f8f8, #f1f1f1);
    box-shadow: #ddd 0 1px 1px 0;
}

.btn:active, .btn.btn-active {
    box-shadow: #ddd 0 1px 2px 0 inset;
    border-color: #c6c6c6;
}

.btn:focus {
    border-color: #4d90fe;
    outline: none
}

.btn-primary {
    border-color: #22436E;
    color: #FFFFFF;
    background-color: #22436E;
    border-radius: 6px;
    background: -webkit-linear-gradient(top, #22436E, #22436E);
    background: -moz-linear-gradient(top, #22436E, #22436E);
    background: linear-gradient(top, #22436E, #22436E);
}

.btn-primary:hover {
    border-color: #2F5BB7;
    color: #fff;
    background-color: #4D90FE;
    background: -webkit-linear-gradient(top, #4D90FE, #357AE8);
    background: -moz-linear-gradient(top, #4D90FE, #357AE8);
    background: linear-gradient(top, #4D90FE, #357AE8);
}

.btn-primary:active, .btn-primary.btn-active {
    box-shadow: #2176D3 0 1px 2px 0 inset;
    border-color: #3079ED;
}

.btn-primary:focus {
    border-color: #4d90fe;
    outline: none
}

.theme-buy {
    margin-top: 10%;
    text-align: center;
}

.theme-gobuy, .theme-signin {
    font-size: 15px;
}

.theme-price {
    position: relative;
    bottom: -6px;
    font-family: microsoft yahei, Arial, Helvetica, sans-serif;
    margin-right: 20px;
    font-weight: bold;
    color: #f60;
    line-height: 32px;
    font-size: 24px;
    display: inline-block;
}

.theme-price dfn {
    font-style: normal;
    font-size: 18px;
    margin-right: 2px;
}

.theme-desc {
    padding: 30px;
}

.theme-version {
    padding: 30px;
}

.theme-popover-mask {
    z-index: 9998;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #000;
    opacity: 0.4;
    filter: alpha(opacity=40);
    display: none
}

.theme-popover {
    z-index: 9999;
    position: fixed;
    top: 50%;
    left: 50%;
    width: 660px;
    height: auto;
    margin: -180px 0 0 -330px;
    border-radius: 5px;
    border: solid 2px #666;
    background-color: #fff;
    display: none;
    box-shadow: 0 0 10px #666;
}

.theme-poptit {
    border-bottom: 1px solid #ddd;
    /*padding: 12px;*/
    position: relative;
    /*height: 50px;*/
    /*line-height: 50px;*/
    vertical-align: middle;
    height: 50px;
}

.theme-poptit h3 {
    display: inline-block;
    padding-top: 10px;
    padding-left: 10px;
}

.theme-poptit i {
    float: left;
    width: 6px;
    height: 30px;
    background: #22436E;
    border-radius: 4px;
    display: inline-block;
    margin-left: 20px;
    margin-top: 8px;
}

.theme-popbod {
    /*padding: 60px 15px;*/
    color: #444;
    /*height: 148px;*/
}

.theme-popbom {
    padding: 15px;
    background-color: #f6f6f6;
    border-top: 1px solid #ddd;
    border-radius: 0 0 5px 5px;
    color: #666
}

.theme-popbom a {
    margin-left: 8px
}

.theme-poptit .close {
    float: right;
    color: #999;
    padding: 5px;
    margin: 10px 10px -5px;
    font: bold 14px/14px simsun;
    text-shadow: 0 1px 0 #ddd
}

.theme-poptit .close:hover {
    color: #444;
}

.btn.theme-reg {
    position: absolute;
    top: 8px;
    left: 43%;
    display: none
}

.inp-gray, .feed-mail-inp {
    border: 1px solid #ccc;
    background-color: #fdfdfd;
    width: 220px;
    height: 16px;
    padding: 4px;
    color: #444;
    margin-right: 6px
}

.dform {
    /*padding: 80px 60px 40px;*/
    /*text-align: center;*/
}

.dform .ipt_error {
    background-color: #FFFFCC;
    border-color: #FFCC66
}

.dform-tip {
    display: none;
    background-color: #080;
    color: #fff;
    line-height: 42px;
    margin-top: 10px;
    font-size: 14px;
}

.dform-tip-errer {
    background-color: #CF301A;
}

.dform-tip a {
    display: inline-block;
    padding: 0 20px;
    margin-left: 10px;
    background-color: #FFE924;
    color: #CF301A;
}

/*.dform-login {*/
/*padding: 0;*/
/*height: 270px;*/
/*overflow: hidden;*/
/*}*/

.dform-login iframe {
    height: 470px;
    margin-top: -180px;
}

.theme-signin {
    margin: -50px -20px -50px 90px;
    text-align: left;
    font-size: 14px;
}

.theme-signin h4 {
    color: #999;
    font-weight: 100;
    margin-bottom: 20px;
    font-size: 12px;
}

.theme-signin li {
    padding-left: 80px;
    margin-bottom: 15px;
}

.theme-signin li strong {
    float: left;
    margin-left: -80px;
    width: 80px;
    text-align: right;
    line-height: 32px;
}

.theme-signin .btn {
    margin-bottom: 10px;
}

.theme-signin p {
    font-size: 12px;
    color: #999;
}

.theme-desc, .theme-version {
    padding-top: 0
}

.theme-popbod ul {
    border-bottom: 2px solid #EFEFEF;
}

.theme-popbod ul li:hover {
    background: #EFEFEF;
}

.active {
    background: #EFEFEF;
}

.theme-popbod .address {
    float: left;
    padding-left: 20px;
    font-size: 14px;
}

.theme-popbod .address h4 {
    padding: 14px 0 10px 0;
    color: #333333;
}

.theme-popbod .address h4 .userPhone {
    padding-left: 15px;
}

.theme-popbod .address p {
    padding-bottom: 15px;
    color: #666666;
}

.theme-popbod .address p span {
    padding-left: 5px;
}

.theme-popbod .operation {
    float: right;
}

.theme-popbod .operation {
    padding-top: 25px;
}

.theme-popbod .operation a img {
    width: 18px;
    height: 18px;
    color: #333333;
    margin-right: 20px;
    overflow: hidden;
}

.theme-popbod .nextBtn {
    width: 100%;
    text-align: center;
    padding-top: 25px;
    padding-bottom: 35px;
}

.theme-popbod .nextBtn a {
    width: 150px;
    height: 40px;
    line-height: 40px;
    color: #ffffff;
    background: #22436E;
    display: inline-block;
    border-radius: 6px;
}

/*
conversionSucceedInfo
*/
.conversionSucceedInfo {
    text-align: center;
}

.conversionSucceedInfo h2 {
    font-size: 20px;
    color: #73D470;
    padding: 42px 0;
}

.conversionSucceedInfo p {
    color: #999999;
    font-size: 14px;
    padding-bottom: 42px;
}

.conversionSucceedInfo .confirm a {
    display: inline-block;
    width: 150px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    color: #FFFFFF;
    border-radius: 6px;
    background: #22436E;
    margin-bottom: 35px;
}

/*
manageAddress
*/
.manageAddress .add {
    width: 100%;
    text-align: center;
    padding: 20px 0 100px 0;
}

.manageAddress .add a {
    width: 430px;
    height: 35px;
    line-height: 35px;
    color: #22436E;
    display: inline-block;
    border: 1px dashed #22436E;
    border-radius: 6px;
    font-size: 16px;
}

/*
addAddress
*/

.addAddress {
    overflow: visible !important;
}

form input, textarea {
    border: 1px solid #DDDDDD;
    background: #F4F4F4;
}

form input {
    height: 36px;
    line-height: 36px;
    border-radius: 4px;
    width: 400px;
}

form textarea {
    width: 400px;
    height: 80px;
    vertical-align: top;
}

form .item {
    padding: 20px 0 20px 20px;
}

form .item label {
    display: inline-block;
    width: 100px;
}

form .item .sign {
    width: 4px;
    height: 4px;
    color: red;
}

.save {
    width: 100%;
    text-align: center;
}

.save a {
    display: inline-block;
    width: 124px;
    height: 32px;
    line-height: 32px;
    border-radius: 4px;
    background: #22436E;
    color: #FFFFFF;
    margin: 20px 0 25px 0;
}