<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>奖励领取</title>
    <link rel="stylesheet" href="../../css/reset.css"/>
    <link rel="stylesheet" href="../../css/header/header.css"/>
    <link rel="stylesheet" href="../../css/personalCenter/personalCenter.css"/>
    <link rel="stylesheet" href="../../css/aboutUs/aboutUs.css"/>
    <link rel="stylesheet" href="../../css/receiveAward/receiveAward.css"/>
    <script src="../../js/jquery-1.8.3.js"></script>
    <script type="text/javascript" src="../../js/jquery.min.js"></script>
</head>
<body>
<header>
    <div class="inner1 clearfix">
        <div class="logo">
            <img src="../../img/logo.png" alt="">
        </div>
        <div class="nav">
            <ul class="clearfix">
                <li>
                    <a th:href="@{/}">首页</a>
                </li>
                <li>
                    <a href="https://puritan.tmall.hk/p/rd663629.htm?ali_trackid=42_7b0e34ba50a8e2fbc3d5a69695f31c69" >在线商城</a>
                </li>
                <li>
                    <a th:href="@{/article/healthy}">健康顾问</a>
                </li>
                <li>
                    <a th:href="@{/article/about_us}" >关于我们</a>
                </li>
                <li>
                    <a class="mini_code" >防伪查询</a>
                </li>
            </ul>
        </div>
        <div class="loginInfo">
            <ul class="clearfix">
                <li>
                    <a class="login" href="javascript:void(0)" style="display: none">登陆</a>
                    <a href="../personalCenter/personalCenter.html">Admin</a>
                </li>
                <li>
                    <a th:href="@{/register}">注册</a>
                </li>
            </ul>
        </div>
    </div>
</header>
<main class="inner">
    <nav>
        <span>会员奖品领取</span>
    </nav>
    <div class="main-page">
        <div class="left">
            <div class="nav-back"></div>
            <div class="nav">
                <div class="on">会员奖品</div>
            </div>
        </div>
        <div class="right">
            <div class="content">
                <div class="con-ggh">
                    <div class="info">000000</div>
                    <div class="getBtn">
                        <a href="javascript:void(0)">点击立即领取</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="clear"></div>
    </div>
    <div class="theme-popover receiveAward">
        <!--<div class="theme-poptit">-->
            <!--<a href="javascript:void(0)" title="关闭" class="close">×</a>-->
        <!--</div>-->
        <div class="theme-popbod dform">
            <div class="content">
               <p>恭喜您,领取成功快去兑换吧</p>
                <a href="../personalCenter/personalCenter.html">去兑换</a>
            </div>
        </div>
    </div>
    <div class="theme-popover-mask"></div>
</main>
<script type="text/javascript">
    $(".main-page .nav div").mouseenter(function () {
        var $this = $(this);
        var index = $this.index();
    }).mouseleave(function () {
        var $this = $(this);
        var index = $this.index();
    }).click(function () {
        var $this = $(this);
        var index = $this.index();
        var l = -(index * 800);
        $(".main-page .nav div").removeClass("on");
        $(".main-page .nav div").eq(index).addClass("on");
        $(".main-page .content .con-ggh:eq(0)").stop().animate({"margin-top": l}, 500);
    });
    $('.getBtn a').bind('click', function () {
        $('.theme-popover-mask').fadeIn(100);
        $('.receiveAward').slideDown(200);
    });
    $('.theme-poptit .close').click(function () {

        $('.theme-popover-mask').fadeOut(100);
        $('.receiveAward').slideUp(200);
    });
</script>
</body>
</html>