<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>健康顾问</title>
    <link rel="stylesheet" href="../../css/reset.css"/>
    <link rel="stylesheet" href="../../css/header/header.css"/>
    <link rel="stylesheet" href="../../css/aboutUs/aboutUs.css"/>
    <link rel="stylesheet" href="../../css/healthConsultant/healthConsultant.css"/>
    <script src="../../js/jquery-1.8.3.js"></script>
    <script type="text/javascript" src="../../js/paging.js"></script>
</head>
<body>
<header>
    <div class="inner1 clearfix">
        <div class="logo">
            <a href="/index">
				<img src="../../img/logo.png" alt="">
			</a>
        </div>
        <div class="nav">
            <ul class="clearfix">
                <li>
                    <a href="">首页</a>
                </li>
                <li>
                    <a href="https://puritan.tmall.hk/p/rd663629.htm?ali_trackid=42_7b0e34ba50a8e2fbc3d5a69695f31c69" class="activeNav">在线商城</a>
                </li>
                <li>
                    <a th:href="@{/article/healthy}">健康顾问</a>
                </li>
                <li>
                    <a th:href="@{/article/about_us}">关于我们</a>
                </li>
                <li>
                    <a class="mini_code" >防伪查询</a>
                </li>
            </ul>
        </div>
        <div class="loginInfo">
            <!--<ul class="clearfix">-->
                <!--<li>-->
                    <!--<a class="login" href="javascript:void(0)" style="display: none">登陆</a>-->
                    <!--<a href="../personalCenter/personalCenter.html">Admin</a>-->
                <!--</li>-->
                <!--<li>-->
                    <!--<a th:href="@{/register}">注册</a>-->
                <!--</li>-->
            <!--</ul>-->
        </div>
    </div>
</header>
<main>
    <div class="pic">
        <img src="../../img/slide_2.jpg" alt="加载失败">
    </div>
    <div class="content inner">
        <div class="search">
            <input type="text" value="" placeholder="请简单完整的输入您的问题,如什么是'维生素E'...">
            <img src="" alt="sou">
        </div>
        <div class="solution">
            <div class="item">
                <h2 class="physicalCondition ">身体状况</h2>
                <ul>
                    <li>
                        <a href="./HealthInformation.html">为什么女性更容易患缺铁性贫血？</a>
                    </li>
                    <li>
                        <a href="./HealthInformation.html">为什么女性更容易患缺铁性贫血？</a>
                    </li>
                    <li>
                        <a href="./HealthInformation.html">为什么女性更容易患缺铁性贫血？</a>
                    </li>
                    <li>
                        <a href="./HealthInformation.html">为什么女性更容易患缺铁性贫血？</a>
                    </li>
                </ul>
                <a href="./HealthInformation.html" class="more">更多相关问题></a>
            </div>
            <div class="item">
                <h2 class="antiTrouble ">肌肤问题</h2>
                <ul>
                    <li>
                        <a href="./HealthInformation.html">为什么女性更容易患缺铁性贫血？</a>
                    </li>
                    <li>
                        <a href="./HealthInformation.html">为什么女性更容易患缺铁性贫血？</a>
                    </li>
                    <li>
                        <a href="./HealthInformation.html">为什么女性更容易患缺铁性贫血？</a>
                    </li>
                    <li>
                        <a href="./HealthInformation.html">为什么女性更容易患缺铁性贫血？</a>
                    </li>
                </ul>
                <a href="./HealthInformation.html" class="more">更多相关问题></a>
            </div>
            <div class="item">
                <h2 class="livingHabit ">生活习惯</h2>
                <ul>
                    <li>
                        <a href="./HealthInformation.html">为什么女性更容易患缺铁性贫血？</a>
                    </li>
                    <li>
                        <a href="./HealthInformation.html">为什么女性更容易患缺铁性贫血？</a>
                    </li>
                    <li>
                        <a href="./HealthInformation.html">为什么女性更容易患缺铁性贫血？</a>
                    </li>
                    <li>
                        <a href="./HealthInformation.html">为什么女性更容易患缺铁性贫血？</a>
                    </li>
                </ul>
                <a href="./HealthInformation.html" class="more">更多相关问题></a>
            </div>
            <div class="item">
                <h2 class="referenceNutrient ">人群推荐</h2>
                <ul>
                    <li>
                        <a href="./HealthInformation.html">为什么女性更容易患缺铁性贫血？</a>
                    </li>
                    <li>
                        <a href="./HealthInformation.html">为什么女性更容易患缺铁性贫血？</a>
                    </li>
                    <li>
                        <a href="./HealthInformation.html">为什么女性更容易患缺铁性贫血？</a>
                    </li>
                    <li>
                        <a href="./HealthInformation.html">为什么女性更容易患缺铁性贫血？</a>
                    </li>
                </ul>
                <a href="./HealthInformation.html" class="more">更多相关问题></a>
            </div>
        </div>
        <div class="shoppingGuide">
            <div class="main-page">
                <div class="left">
                    <div class="nav-back"></div>
                    <h2>分类导航</h2>
                    <div class="nav">
                        <div class="on">维生素C</div>
                        <div>维生素E</div>
                        <div>蛋白质粉</div>
                        <div>B族维生素</div>
                        <div>多种维生素</div>
                        <div>成长快乐Q片</div>
                    </div>
                </div>
                <div class="right">
                    <div class="content">
                        <div class="con-ggh">
                            <h3>常见问题</h3>
                            <ul>
                                <li>为什么说富含VC的针叶樱桃异常珍贵 ?</li>
                                <li>为什么说富含VC的针叶樱桃异常珍贵 ?</li>
                                <li>为什么说富含VC的针叶樱桃异常珍贵 ?</li>
                                <li>为什么说富含VC的针叶樱桃异常珍贵 ?</li>
                                <li>为什么说富含VC的针叶樱桃异常珍贵 ?</li>
                                <li>为什么说富含VC的针叶樱桃异常珍贵 ?</li>
                            </ul>
                        </div>
                        <div class="con-ggh">
                            维生素E
                        </div>
                        <div class="con-ggh">
                            蛋白质粉
                        </div>
                        <div class="con-ggh">
                            B族维生素
                        </div>
                        <div class="con-ggh">
                            多种维生素
                        </div>
                        <div class="con-ggh">
                            成长快乐Q片
                        </div>
                    </div>
                    <div class="paging">
                        <div value="10"></div>
                        <div id="page" class="page_div"></div>
                    </div>
                </div>
                <div class="clear"></div>
            </div>
        </div>

    </div>
</main>

<div class="mask">
    <div class="mask_content">
        <div class="cancel_mask">x</div>
        <div class="mask_title">
            扫码进入
        </div>
        <div class="mask_code">
            <img src="/img/wx_mini_code.png" alt="">
        </div>
    </div>
</div>



<script type="text/javascript">
    $(".main-page .nav div").mouseenter(function () {
        var $this = $(this);
        var index = $this.index();
    }).mouseleave(function () {
        var $this = $(this);
        var index = $this.index();
    }).click(function () {
        var $this = $(this);
        var index = $this.index();
        var l = -(index * 800);
        $(".main-page .nav div").removeClass("on");
        $(".main-page .nav div").eq(index).addClass("on");
        $(".main-page .content .con-ggh:eq(0)").stop().animate({"margin-top": l}, 500);
    });
	
	$(".mini_code").click(function(){
		$(".mask").show()
	})

	$(".cancel_mask").click(function(){
		$(".mask").hide()
	})


    //分页
    $("#page").paging({
        pageNo: 1,
        totalPage: 9,
        totalSize: 300,
        callback: function (num) {
            alert(num)
        }
    })

    /*
    // 模拟ajax数据用以下方法，方便用户更好的掌握用法
    //参数为当前页
    ajaxTest(1);

    function ajaxTest(num) {
        $.ajax({
            url: "table.json",
            type: "get",
            data: {},
            dataType: "json",
            success: function(data) {
                console.log(data);
                //分页
                $("#page").paging({
                    pageNo: num,
                    totalPage: data.totalPage,
                    totalSize: data.totalSize,
                    callback: function(num) {
                        ajaxTest(num)
                    }
                })
            }
        })
    }
    */
</script>
</body>
</html>